.storyboard-view-cell {
    float: left;
    margin: 20px;
    border-radius: 5px;
}
.storyboard-view-img {
    border: 1px solid #4c4c4c;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    object-fit: contain;
}
.storyboard-view-img:hover {
    border: 1px solid #d7d7d7;
    box-shadow: 0 0 5px #d7d7d7;
}
.storyboard-view-cell p {
    margin-bottom: 0px;
}
.story-title {
    font-size: 18px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
}
.story-description {
    font-size: 14px;
    max-width: 300px;
    overflow: hidden;
    display: -webkit-box;
    /*-webkit-line-clamp: 3;*/
    -webkit-box-orient: vertical;
    height: 80px;
    max-height: 80px;
    overflow: auto;
}